extend base

block content 
    if(errorMessage)
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Passowrd",type="password" name="oldPassword")
        input(placeholder="New Passowrd",type="password" name="newPassword")
        input(placeholder="New Passowrd Confirmation",type="password" name="newPassword1")
        input(value="Change Password", type="submit")